*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

main{
    font-family: 'Rubik Mono One', sans-serif;
}
nav, ul{
    list-style-type: none;
    display: inline-block;
}

.scarpa1, .scarpa2, .scarpa3{
    position: relative;
    height: 100vh;
}
.scarpa1{
    background-color: rgb(175, 17, 17);
}
.scarpa2{
    background-color: rgb(25, 99, 31);
}
.scarpa3{
    background-color: rgb(202, 200, 57);
}

img, p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

p{
    color: rgb(238, 255, 1);
    margin-top: 165px;
    text-align: center;
    font-size: 27px;

}

li{
    display: inline-block;
    border-radius: 50px;
    background-color: white;
    padding: 8px;
    width: 36px;
    height: 36px;
    text-align: center;
}

.cont{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 99;
}
a{
    text-decoration: none;
}